@import '../breakpoints.scss';

.about {
	margin-top: 8vh;

	.heading,
	h1,
	p {
		text-align: left;
	}

	.about-content {
		.description {
			.certificates-content {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
				grid-gap: 1vw;

				@include media("<tablet") {
					margin-bottom: 2vh;
				}
			}

			button.showAllCertificates {
				margin-bottom: 2vh;
				width: 100%;
				padding: 5px;

				font-size: 20px;
				background-color: #e7e7e746;
				color: black;

				svg {
					margin: 0 5vw;
				}
			}
		}

		@include media(">=tablet") {
			display: flex;
		}

		img {
			border-radius: 5%;

			@include media("<tablet") {
				width: 50vw;
				height: 50vw;
			}

			@include media(">=tablet") {
				float: right;
				width: 30vw;
				height: 30vw;
				margin-left: 5vw;
				margin-top: 3vh;
			}

			@include media(">=LGdesktop") {
				width: 20vw;
				height: 20vw;
				margin-top: 1vh;
			}
		}
	}
}