@import '../breakpoints.scss';

.about {
	margin-top: 8vh;

	.heading,
	h1,
	p {
		text-align: left;
	}

	.about-content {
		.description {
			.badges {
				padding-bottom: 15px;
				display: flex;

				img {
					height: 2.3vw;
					margin: 0 auto;
				}
			}

			button.showAllCertificates {
				margin-bottom: 2vh;
				width: 100%;
				padding: 5px;

				font-size: 20px;
				background-color: #e7e7e746;
				color: black;

				svg {
					margin: 0 5vw;
				}
			}

			.certificates-content {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
				grid-gap: 1vw;

				@include media(">=tablet") {
					grid-template-columns: repeat(auto-fit, minmax(15vw, 1fr));
				}
			}
		}

		@include media(">=tablet") {
			display: flex;
		}

		img {
			border-radius: 5%;

			@include media("<tablet") {
				height: 50vw;
			}

			@include media(">=tablet") {
				float: right;
				height: 30vw;
				margin-left: 5vw;
				margin-top: 2vh;
			}

			@include media(">=LGDesktop") {
				height: 20vw;
				margin-top: 1vh;
			}
		}
	}

	.skill-title {
		text-decoration: underline;
	}

	.skill-table {
		border-collapse: collapse;
		width: 100%;

		.outer-bar {
			border-radius: 3pt;
			width: 100%;
			background-color: lightgray;
		}

		.inner-bar {
			border-radius: inherit;
			color: white;
			font-size: 0.7em;
			font-weight: bold;
			background-color: #9352ae;
		}

		tbody tr {
			border-top: 1px;
			border-right: 0px;
			border-left: 0px;
			border-bottom: 0px;
			border-color: #00000050;
			border-style: solid;
		}
	}
}
