.contact {
	margin-top: 8vh;
	padding-bottom: 3vh;
	text-align: center;
	justify-content: center;

	h1 {
		text-align: left;
	}

	.contact-content {

		h3 {
			font-size: calc(16px + 2vw);

			.amazing-color {
				color: #9352ae;
				opacity: 1;
			}
		}

		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			padding-left: 0;
			list-style-type: none;

			li {
				padding: 0.3em;
				margin: 0 1.5vw 1vh 1.5vw;
				border: 1px solid #00000038;
				border-radius: 10%;
				position: relative;
				top: 0;
				transition: top ease 0.5s;

				&:hover {
					top: -1vh;
				}
			}
		}
	}
}