@import '../breakpoints.scss';

.contact {
	margin-top: 8vh;
	padding-bottom: 3vh;
	text-align: center;
	justify-content: center;

	h1 {
		text-align: left;
	}

	.contact-content {

		h3 {
			font-size: calc(16px + 0.2vw);

			.amazing-color {
				color: #9352ae;
				opacity: 1;
			}
		}

		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			padding-left: 0;
			list-style-type: none;

			li {
				padding: 0.3em;
				margin: 0 1.5vw 1vh 1.5vw;
				border: 1px solid #00000038;
				border-radius: 10%;
				position: relative;
				top: 0;
				transition: top ease 0.5s;

				&:hover {
					top: -1vh;
				}
			}
		}
	}
}

div.footer {
	padding: 0;
	margin: -0.1em 0;
	border-top: 1px solid black;
	position: relative;
	font-size: calc(16px + 0.1vw);
	left: 22.5vw;
	width: 50vw;
	height: 3em;

	@include media(">=700px", "<=952px") {
		left: 15vw;
		width: 55vw;
	}

	@include media("<=700px") {
		left: 15vw;
		width: 55vw;
		font-size: calc(8px + 1vw);
		margin-bottom: 3em;
	}
}
