@import '../breakpoints.scss';

.App-header {
	color: black;
	height: 98vh;

	h1.heading-background {
		position: fixed;
		opacity: 0.1;
		font-size: 18vw;
		left: -2vw;
		top: 8vh;
		z-index: -1;
		color: #9352ae;
	}

	header {
		display: flex;
		justify-content: space-between;

		@include media(">=tablet") {
			display: inherit;
		}

		h1 {
			font-size: calc(20px + 3vw);
			font-weight: 400;
			margin: 3vh 0 0 0;
		}
	}

	.header-title {
		margin-top: 20vh;
		font-size: calc(5px + 4.5vw);
		text-align: left;
		white-space: pre-wrap;

		@include media(">=phone") {
			margin-left: 10vw;
		}

		@include media(">=tablet") {
			margin-top: 3vh;
		}

		@include media(">=1700px") {
			margin-top: -6vh;
		}

		button {
			background: black;
			padding: 1em 3em;
			border-radius: 2%;

			a {
				font-size: calc(10px + 3vw);
				font-family: 'Open Sans', sans-serif;
				color: white;
			}
		}
	}

	.scrollIndicator {
		display: block;
		position: absolute;
		cursor: pointer;
		font-size: calc(20px + 15vw);
		bottom: 15vh;
		text-align: center;
		left: calc(50vw - (20px + 15vw)/2);

		@include media(">=tablet") {
			font-size: 8vw;
			left: 46vw;
			bottom: 2vh;
		}

		animation: bounce 2s;
		animation-delay: 1s;
		animation-iteration-count: infinite;
	}

	@keyframes bounce {

		0%,
		25%,
		50%,
		75%,
		100% {
			transform: translateY(0);
		}

		40% {
			transform: translateY(-20px);
		}

		60% {
			transform: translateY(-12px);
		}
	}
}